<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.subpj.openchatting.mapper.UserMapper">

    <select id="selectUserList" resultType="com.subpj.openchatting.domain.UserDto">


    </select>

    <insert id="saveUser" parameterType="com.subpj.openchatting.domain.UserDto">
        INSERT INTO user
        (
            no
            ,profil_image_url
            ,background_Image_url
            ,name
            ,user_id
            ,user_pw
            ,is_deleted
            ,created_at
        )
        VALUES(
            #{no}
            ,#{profilImageUrl}
            ,#{backgroundImageUrl}
            ,#{name}
            ,#{userId}
            ,#{userPw}
            ,#{isDeleted}
            ,#{createdAt}
        );
    </insert>

</mapper>