<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.subpj.openchatting.mapper.TestMapper">
        <select id="selectTestList"  parameterType="java.lang.Long" resultType="hashmap">
            select SYSDATE();
        </select>

        <select id="selectMemberList" resultType="com.subpj.openchatting.domain.TestDto">
            SELECT
                a.roomNo,
                a.userId,
                a.createAt
            FROM   member a;
            <if test = 'id != null'>
                where a.roomNo = #{roomNo}
            </if>
        </select>

</mapper>